<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Home Page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil veniam autem maiores reprehenderit nemo ea sed illo enim unde rem obcaecati, sit consequatur, nostrum quaerat officia fugiat quibusdam facilis. Maiores?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque a placeat aut! Quas, consectetur dicta dolore sit excepturi vel sapiente distinctio natus voluptatum dolor doloribus dolores minima a iure magni.</p>

</body>
</html>